body {
    font-family: 'Times New Roman', Times, serif;
    /*font-family: cursive;*/
    margin: 0px;
    width: 100%;
    background-image: url("Pagina_principala/Marble/marble.jpg");
    background-attachment: fixed;
    background-size: 25vw 25vh;
}

header {
    background-image: url("Pagina_principala/Hotel_Rooms/hotel_room.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    height: 100vh;
}

#logo {
    margin-top: 2.5%;
    margin-bottom: 5%;
    width: 10%;
    margin-left: 45%;
}

h1 {
    color: rgb(255, 255, 255);
    font-family: 'Brush Script MT', cursive;
    font-size: 10vw;
    text-align: center;
    margin-top: 0px;
}

nav {
    position: sticky;
    top: 0px;
    padding: 8px 0px 8px 0px;
    display: block;
    text-align: center;
    background-color: rgb(22, 2, 54);
    z-index: 1;
}

.navigare {
    margin: 0px;
}

.navigare > li {
    display: inline-block;
    vertical-align: text-top;
    padding-right: 75px;
    font-size: 2vw;
    color: white;
}

.navigare > li > a:hover {
    color: rgb(210, 166, 252);
}

.navigare > li > a {
    text-decoration: none;
    color: white;
}

main {
    color: rgb(22, 2, 54);
    font-size: 20px;
    text-align: center;
}

#visits {
    font-size: 50px;
    margin: 0 40%;
    width:20%;
    border: 2px solid rgb(22, 2, 54);
    border-radius: 5px;
}