body {
    font-family: 'Times New Roman', Times, serif;
    /* font-family: cursive; */
    margin: 0px;
    width: 100%;
    background-image: url("Pagina_principala/Marble/marble.jpg");
    background-attachment: fixed;
    background-size: 25vw 25vh;
}

header {
    background-image: url("Rezervari/6.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    height: 100vh;
}

#logo {
    margin-top: 2.5%;
    margin-bottom: 5%;
    width: 10%;
    margin-left: 45%;
}

h1 {
    color: rgb(255, 255, 255);
    font-family: 'Brush Script MT', cursive;
    font-size: 10vw;
    text-align: center;
    margin-top: 0px;
}

nav {
    position: sticky;
    top: 0px;
    padding: 8px 0px 8px 0px;
    display: block;
    text-align: center;
    background-color: rgb(22, 2, 54);
    z-index: 1;
}

.navigare {
    margin: 0px;
}

.navigare > li {
    display: inline-block;
    vertical-align: text-top;
    padding-right: 75px;
    font-size: 2vw;
    color: white;
}

.navigare > li > a:hover {
    color: rgb(210, 166, 252);
}

.navigare > li > a {
    text-decoration: none;
    color: white;
}

main {
    color: rgb(22, 2, 54);
    font-size: 20px;
}
 
#prezentare {
    margin: 5vw 0 5vw 0;
    text-align: center;
}

#continut {
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
    margin:20px;
}

.container {
    position: relative;
    width: 100%;
    background-color: rgb(22, 2, 54);
}

.container > h2, p {
    transition: 0.5s ease;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    margin: 0;
    text-align: center;
    background-color: rgb(210, 166, 252);
    border-radius: 5px;
    color: white;
    padding: 4% 8%;
}

.container > p {
    opacity: 0;
    background-color: transparent;
}

.container:hover {
    cursor: pointer;
}

.container:hover > .img {
    opacity: 0.5;
}

.container:hover > h2 {
    top: 25%;
    background-color: transparent;
}

.container:hover > p {
    opacity: 1;
}

.img {
    width: 100%;
    opacity: 1;
    display: block;
    transition: 0.5s ease;
}

form {
    background-color: rgb(210, 166, 252);
    box-sizing: border-box;
    border: 2px solid rgb(22, 2, 54);
    border-radius: 5px;
    padding: 2%;
    margin: 2%;
    font-size: 1.5vw;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

form :nth-child(9) {
    grid-column-start: 1;
    grid-column-end: 3;
}

input[type=text], input[type=date], input[type=number], select, textarea {
    width: 100%;
    padding: 24px 0px;
    border: 1px solid rgb(22, 2, 54);
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: rgb(22, 2, 54);
}

input[type=submit] {
    background-color: rgb(22, 2, 54);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    }

input[type=submit]:hover {
    background-color: rgb(89, 19, 155);
}

.col-15 {
    float: left;
    width: 15%;
    margin-top: 6px;
}

.col-85 {
    float: left;
    width: 85%;
    margin-top: 6px;
}

@media screen and (max-width: 600px) {
    .col-215, .col-85, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

#alert {
    text-align: center;
}

#alert, #reservation {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    background-color: white;
    padding: 2%;
    border: 5px solid rgb(22, 2, 54);
    border-radius: 25px;    
}

#col-left > div, #col-right > div {
    padding: 2px;
    margin: 2px;
}

#overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(22, 2, 54, 0.5);
}

.ok_button {
    background-color: rgb(210, 166, 252);
    float: right;
    cursor: pointer;
    border-radius: 5px;
}

.sterge_button {
    background-color: rgb(210, 166, 252);
    float: left;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    display: flex;
    width: 100%;
    text-align: center;
    background-color: rgb(22, 2, 54);
    color: white;
    margin-bottom: 0px;
    padding: 8px 0px 8px 0px;
    font-size: 20px;
}

footer > div :first-child {
    color:rgb(210, 166, 252);
}

footer > div {
    flex:1;
}