body {
    font-family: 'Times New Roman', Times, serif;
    /* font-family: cursive; */
    margin: 0px;
    width: 100%;
    background-image: url("Pagina_principala/Marble/marble.jpg");
    background-attachment: fixed;
    background-size: 25vw 25vh;
}

header {
    background-image: url("Restaurant/restaurant8.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    height: 100vh;
}

#logo {
    margin-top: 2.5%;
    margin-bottom: 5%;
    width: 10%;
    margin-left: 45%;
}

h1 {
    color: rgb(255, 255, 255);
    font-family: 'Brush Script MT', cursive;
    font-size: 10vw;
    text-align: center;
    margin-top: 0px;
}

nav {
    position: sticky;
    top: 0px;
    padding: 8px 0px 8px 0px;
    display: block;
    text-align: center;
    background-color: rgb(22, 2, 54);
    z-index: 1;
}

.navigare {
    margin: 0px;
}

.navigare > li {
    display: inline-block;
    vertical-align: text-top;
    padding-right: 75px;
    font-size: 2vw;
    color: white;
}

.navigare > li > a:hover {
    color: rgb(210, 166, 252);
}

.navigare > li > a {
    text-decoration: none;
    color: white;
}
 
#prezentare {
    margin: 5vw 0 5vw 0;
    text-align: center;
}

.img {
    width: 39vw;
}

form {
    background-color: rgb(210, 166, 252);
    box-sizing: border-box;
    border: 2px solid rgb(22, 2, 54);
    border-radius: 5px;
    padding: 2%;
    margin: 2%;
    font-size: 1.5vw;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

form :nth-child(9) {
    grid-column-start: 1;
    grid-column-end: 3;
}

input[type=text], input[type=date], input[type=number], select, textarea {
    width: 100%;
    padding: 24px 0px;
    border: 1px solid rgb(22, 2, 54);
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: rgb(22, 2, 54);
}

input[type=submit] {
    background-color: rgb(22, 2, 54);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    }

input[type=submit]:hover {
    background-color: rgb(89, 19, 155);
}

.col-15 {
    float: left;
    width: 15%;
    margin-top: 6px;
}

.col-85 {
    float: left;
    width: 85%;
    margin-top: 6px;
}

/* .row:after {
    content: "";
    display: table;
    clear: both;
} */

@media screen and (max-width: 600px) {
    .col-215, .col-85, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

footer {
    display: flex;
    width: 100%;
    text-align: center;
    background-color: rgb(22, 2, 54);
    color: white;
    margin-bottom: 0px;
    padding: 8px 0px 8px 0px;
    font-size: 20px;
}

footer > div :first-child {
    color:rgb(210, 166, 252);
}

footer > div {
    flex:1;
}